_site/
docs/assets/js/*
dist/
node_modules/
**/bundle/*
hosts.ini
*.vault

**/.config/Code/**/*
**/.config/Code/*
!dotfiles/files/.config/Code/User/settings.json
!dotfiles/files/.config/Code/User/keybindings.json


!.gitkeep
!.keep
