<div class="text-center">
    <h1 style="margin-bottom: -0.3rem;"><b>Chris Weaver</b></h1>
    <small class="text-highlight"><b>Software Developer - DevOps Engineer - Cheshire, UK</b></small>
    <br/>
    <div class="text-muted">
        <small><i class="text-dark bi bi-envelope-fill"></i>&nbsp;&nbsp;<a href="mailto:chrisweaver1@pm.me">chrisweaver1@pm.me</a></small>
        &nbsp;|&nbsp;
        <small><i class="text-dark bi bi-journal-code"></i>&nbsp;&nbsp;<a href="https://www.weav.ovh">www.weav.ovh</a></small>
        &nbsp;|&nbsp;
        <small><i class="text-dark bi bi-github"></i>&nbsp;&nbsp;<a href="https://github.com/ChrisWeaver1">github/chrisweaver1</a></small>
        &nbsp;|&nbsp;
        <small><i class="text-dark bi bi-linkedin"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/chrisweaver2">in/chrisweaver2</a></small>
    </div>
</div>