$white: hsl(240, 100%, 100%);
$black:    #000000;
$gray-100: darken(#f8f9fa, 10%);
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: darken(#adb5bd, 20%);
$gray-600: darken(#6c757d, 26%);
$gray-700: darken(#495057, 15%);
$gray-800: darken(#343a40, 12%);
$gray-900: darken(#212529, 10%);

// Define pastel colors
$primary: #5cb85c; // green
$secondary: #428bca; // red
$success: #428bca; // blue
$info: #5bc0de; // light blue
$warning: #f0ad4e; // orange
$danger: #d9534f; // red
$light: #f8f9fa; // light gray
$dark: #343a40; // dark gray

// Create a custom color scheme
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$font-size-base: 1.1rem;