$white:    #fbf1c7;
$gray-100: #ebdbb2;
$gray-200: #d5c4a1;
$gray-300: #bdae93;
$gray-400: #7c6f64;
$gray-500: #665c54;
$gray-600: #504945;
$gray-700: #201d1c;
$gray-800: #19181a;
$gray-900: #141314;
$black:    #000000;

$danger: #cc241d;
$success: #98971a;
$primary: #458588;
$warning: #d79921;
$info: #689d6a;
$secondary: #d65d0e;