@media (max-width: 1280px) {
    .content {
        max-width: 80% !important;
    }
}

@media (max-width: 992px) {
    .content {
        max-width: 95% !important;
    }
}

@media (max-width: 768px) {
    .content {
        max-width: 97% !important;
    }

    .sm-block {
        display: block !important;
        width: 100%;
    }
}