@import "custom";
@import "code";
@import "media";
@import "mixins";
@import "~bootstrap/scss/bootstrap";


body { 
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !important;
    background-color: $gray-700;
    height: 100%;
}

tr {
    border-color: $gray-400 !important;
}

table {
    @extend .table;
    @extend .text-light;
}

a {
    color: $secondary;
    @include text-mono()
}

a:hover {
    color:lighten($blue-400, 10%);
}

code {
    color: $gray-300;
}

#sticky-footer {
    flex-shrink: none;
}

.reset-font {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji" !important;
}

.highlight-1:hover {
    background-color: $gray-700 !important;
}

.highlight-2:hover {
    background-color: $gray-800 !important;
}

.highlight-3:hover {
    background-color: $gray-900 !important;
}

.highlight-secondary:hover {
    background-color: darken($secondary, 10%) !important;
}

.highlight-secondary:hover {
    background-color: darken($secondary, 10%) !important;
}

.highlight-success:hover {
    background-color: darken($success, 5%) !important;
}

.highlight-primary:hover {
    background-color: darken($primary, 10%) !important;
}

.bg-1 {
    background-color: $gray-700 !important;
    color: $gray-100 !important;
    border-color: $gray-900 !important;
}

.bg-2 {
    background-color: $gray-800 !important;
    color: $gray-100 !important;
    border-color: $gray-500 !important;
}

.bg-body {
    background-color: $gray-900 !important;
    color: $gray-100 !important;
    border-color: $gray-900 !important;
}

.alert-1 {
    background-color: #462424;
    border-color: darken(#462424, 20%);
    color: $gray-100;
}

.text-muted {
    color: $gray-400 !important;
    font-size: 0.92rem;
}

.nav-link {
    color: darken($light, 6%);
}

.nav-link:hover {
    color: darken($light, 35%);
}

.navbar {
    border-top: 1px solid $gray-700;
    border-bottom: 1px solid $gray-700;
    @include text-mono()
}

.code {
    color: $gray-200;
}

.content {
    max-width: 70%;
    margin: auto;
    width: 100%;
}

.text-mono {
    @include text-mono()
}

.blink {
    animation: blink-animation 1500ms steps(3, start) infinite;
    -webkit-animation: blink-animation 1500ms steps(3, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}
