
body {
    font-family: Tahoma, Geneva, sans-serif !important; 
    font-size: 13px;
}

p {
    margin-bottom: 0.5rem;
}

.text-highlight {
    color: #5B5EA6;
}

.text-hidden {
    color: dimgray;
    background-color: dimgray;
}

body{
    -webkit-print-color-adjust:exact !important;
    print-color-adjust:exact !important;
  }