# sudo add-apt-repository ppa:git-core/ppa -y
# sudo apt-get update
# sudo apt-get install git -y
# git --version

[user]
	name = chris
	email = weavc@pm.me

[core]
	excludeFiles = ~/.gitignore
	editor = nvim

[branch]
	sort = -committerdate

[pull]
	rebase = false

[merge]
	conflictstyle = zdiff3
	tool = nvimdiff

[rebase]
	autosquash = true
	autostash = true

[push]
	default = current
	autoSetupRemote = true

[rerere]
	enabled = true

[diff]
	algorithm = histogram
	tool = nvimdiff

